:root{
/* Font families */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;


/* Textcolors */
    --t-accent-color: #2196F3;
    --t-primary-color: #212121;
    --t-secondary-color: #757575;
    --t-light-color: #FFFFFF;
    --t-logo-black-color: #000000;
    --t-gray-color: rgba(255, 255, 255, 0.6);
    --header-border-bottom: #ECECEC; 

/* Background colors*/
    --bgd-primary-color: #F5F5F5;
    --bgd-secondary-color: #2F303A;
    --bgd-cinereous-color: #F5F4FA;
    --bgd-light-color: #FFFFFF;
}
/* Наявні кольори на сторінці "Студіо" */
    /*--color: #2F303A;
    /*--color: #FFFFFF 60%;
   

/* Наявні кольори на сторінці "Портфоліо" */
    /*--color: #EEEEEE;
    /*--color: #FFFFFF 60%;
    /*--color: #2F303A; */


body {
    font-family: var(--main-font), sans-serif;  
    font-size: 14px;
    color: var(--t-primary-color);
    background-color: var(--bgd-primary-color);
}

/* Utils */
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;      
}

.img {
    display: block;
}

/* Header */ 
.header {
    border-bottom: 1px solid var(--header-border-bottom);
}
.header-logo {
    margin: 24px 93px 25px 215px;    
    font-family: var(--secondary-font), sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--t-logo-black-color);
}
.header-logo span {
    color: var(--t-accent-color);
}
.nav-item-active {
    color: var(--t-accent-color);
}
.nav-link {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}
.nav-link:hover, 
.nav-link:focus {
    color: var(--t-accent-color);
}
.contact-link {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--t-secondary-color);
}
.contact-link:hover, 
.contact-link:focus {
    color: var(--t-accent-color);
}

/* Main */
/* Hero */
.hero {
    padding: 200px 452px;
    margin-bottom: 94px;
    background: var(--bgd-secondary-color);
}

.hero-title {
    margin-bottom: 30px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--t-light-color);
}

.hero-button {  
    display: inline-block;                                 
    width: 216px;
    height: 50px;
    padding: 10px 29px;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--t-light-color);
    background-color: var(--t-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
 /* Features-About */
.about {
    margin-right: 215px;
    margin-bottom: 94px;
    margin-left: 215px;
}   
.about-item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 94px;
}

.about-subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.about-text {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--t-secondary-color);   
}
 
 /* Works and Team */
.work-title, .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;   
}
.team {
    background: var(--bgd-cinereous-color);
}
.team-item {
    background: var(--bgd-light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-img {
    margin-bottom: 30px;
}
.team-subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
}
.team-text {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--t-secondary-color);
}

/* PORTFOLIO */
.pf-button {
    margin-right: 8px;
    padding: 6px 25px;
    height: 38px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    background-color: var(--bgd-cinereous-color) ;
    cursor: pointer;
    border: none;
}
.pf-button:hover, 
.pf-button:focus {
    color: var(--t-light-color);
    background-color: var(--t-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.pf-item {
    width: 370px;
    background-color: var(--bgd-light-color);
}
.pf-img {
    margin-bottom: 20px;
}
.pf-title {
    margin-bottom: 4px;
    margin-left: 24px;
    width: 322px;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}

.pf-text {
    margin-left: 24px;
    width: 322px;
    font-size: 16px;
    line-height:calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--t-secondary-color);
}


/* Footer */
.footer {
    background: var(--bgd-secondary-color);
 }
 .footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--t-light-color);
 }
 
.footer-logo span {
    color: var(--t-accent-color);
}
.footer-address {
    font-style: inherit ;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--t-light-color);  
}

.footer-address:hover, 
.footer-address:focus {
    color: var(--t-accent-color);
}
.footer-link {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--t-gray-color);
}
.footer-link:hover, 
.footer-link:focus {
    color: var(--t-accent-color);
}