:root{
/* Font families */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;


/* Textcolors */
    --t-accent-color: #2196F3;
    --t-primary-color: #212121;
    --t-secondary-color: #757575;
    --t-light-color: #FFFFFF;
    --t-logo-black-color: #000000;
    --t-gray-color: rgba(255, 255, 255, 0.6);

/* Background colors*/
    --bgd-primary-color: #F5F5F5;
    --bgd-secondary-color: #2F303A;
    --bgd-cinereous-color: #F5F4FA;
    --bgd-light-color: #FFFFFF;
}
/* Наявні кольори на сторінці "Студіо" */
    /*--color: #2F303A;
    /*--color: #FFFFFF 60%;
    /*--color: #ECECEC;

/* Наявні кольори на сторінці "Портфоліо" */
    /*--color: #EEEEEE;
    /*--color: #FFFFFF 60%;
    /*--color: #2F303A;
    /*--color: #ECECEC; */


body {
    font-family: var(--main-font), sans-serif;  
    font-size: 14px;
    color: var(--t-primary-color);
    background-color: var(--bgd-primary-color);
}

/* Utils */
.link {
    text-decoration: none;
    color: currentColor;
}
.list {
    list-style: none;
}

/* Header */ 
.header-logo {    
    font-family: var(--secondary-font), sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--t-logo-black-color);
}
.header-logo span {
    color: var(--t-accent-color);
}
.nav-item-active {
    color: var(--t-accent-color);
}
.nav-link {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}
.nav-link:hover, 
.nav-link:focus {
    color: var(--t-accent-color);
}
.contact-link {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--t-secondary-color);
}
.contact-link:hover, 
.contact-link:focus {
    color: var(--t-accent-color);
}

/* Main */
/* Hero */
.hero {
    background: var(--bgd-secondary-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--t-light-color);
}

.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--t-light-color);
    background-color: var(--t-accent-color);
    cursor: pointer;
}
 /* Features-About */
.about-subtitle {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.about-text {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--t-secondary-color);   
}
 
 /* Works and Team */
.work-title, .team-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;   
}
.team {
    background: var(--bgd-cinereous-color);
}
.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
}
.team-text {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--t-secondary-color);
}

/* PORTFOLIO */
.pf-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    background-color: var(--bgd-cinereous-color) ;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.pf-button:hover, 
.pf-button:focus {
    color: var(--t-light-color);
    background-color: var(--t-accent-color);
}
.pf-item {
    background-color: var(--bgd-light-color);

}
.pf-title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}

.pf-text {
    font-size: 16px;
    line-height:calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--t-secondary-color);
}


/* Footer */
.footer {
    background: var(--bgd-secondary-color);
 }
 .footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--t-light-color);
 }
 
.footer-logo span {
    color: var(--t-accent-color);
}
.footer-address {
    font-style: inherit ;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--t-light-color);  
}

.footer-address:hover, 
.footer-address:focus {
    color: var(--t-accent-color);
}
.footer-link {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--t-gray-color);
}
.footer-link:hover, 
.footer-link:focus {
    color: var(--t-accent-color);
}